*{
    margin: 0px;
    padding: 0px;
}

canvas{
    z-index: -1;
}

.sound{
    display: flex;
    justify-content: center;
    align-content: center;
}

img{
    width: 100px;
    height: 100px;
}

.button{
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}
